/*
//			Created by Baxter Kemp
//			in 2022
//	
//			Feel free to use any of the below code.
//			No need to ask for permission!
//
*/

* {
	margin: 0;
	padding: 0;
	cursor: default;
	font-family: system-ui, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.no-select {
	text-decoration: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-khtml-user-drag: none;
	-khtml-user-select: none;
	-moz-user-drag: none;
	-moz-user-select: none;
	-ms-user-drag: none;
	-ms-user-select: none;
	-o-user-drag: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	cursor: default;
}

html {
	background-color: black;
}

body {
	color: white;
	margin-left: 13px;
}

h1 {
	font-size: 50px;
	font-weight: normal;
	display: block;
	font-weight: bold;
}

.selection-box {
	width: calc(100% - 50px);
	height: 75px;
	text-align: center;
	border: 3px solid rgba(255, 255, 255, 0.3);
	border-radius: 14px;
	background-color: black;
	color: white;
	font: inherit;
	font-size: 30px;
	text-decoration: none;
	font-weight: 500;
	cursor: text;
}

.selection-rgb-box {
	text-align: center;
	border: 3px solid rgba(255, 255, 255, 0.3);
	border-radius: 14px;
	background-color: black;
	color: white;
	font: inherit;
	font-size: 30px;
	text-decoration: none;
	font-weight: 500;
	cursor: text;
	width: calc(33% - 10px);
	height: 75px;
}

#rgb-box {
	display: flex;
	width: calc(100% - 50px);
	height: 75px;
	align-items: stretch;
	flex-direction: row;
	justify-content: space-between;
}

main {
	width: 100%;
	display: flex;
	justify-content: center;
}

#center-area {
	width: 650px;
	height: auto;
	margin-top: 75px;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

#footer-center-area {
	width: 400px;
	height: auto;
	display: flex;
	align-items: center; /*flex-start;*/
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border-top: 2px solid rgba(255, 255, 255, 0.3);
}

.step {
	font-size: 25px;
	font-weight: bold;
	color: lightgray;
}

.step-title {
	font-size: 28px;
	font-weight: bold;
	color: white;
}

.result-box {
	width: calc(100% - 50px);
	border-radius: 14px;
	overflow: hidden;
	height: 77px;
}

#text-color {
	border: 3px solid rgba(255, 255, 255, 0.3);
}

.final-color {
	font-size: 30px;
	font-weight: 500;
	color: #757575;
	line-height: 77px;
}

.final-subtitle {
	font-size: 23px;
	font-weight: bold;
}

footer {
	width: 100%;
	height: 185px;
	background-color: none;
	display: flex;
	justify-content: center;
}

.footer-text {
	color: rgba(255, 255, 255, 0.3);
}

.else-text {
	color: white;
	font: inherit;
	font-size: 25px;
	text-decoration: none;
	font-weight: 500;
	padding: 15px;
}

body::-webkit-scrollbar {
	width: 13px;
}

body::-webkit-scrollbar-thumb {
	background-color: #808080;
	border: 3px solid black;
	border-radius: 10px;
}

#pallet-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 195px;
	cursor: default;
}

#rainbow-slider {
	width: calc(100% - 20px);
	-webkit-appearance: none;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	overflow: hidden;
}

#rainbow-container {
	cursor: pointer;
	width: calc(100% - 20px);
	height: 40px;
	margin-top: 10px;
	border-radius: 2px;
	margin-bottom: 10px;
}

#color-container {
	width: calc(100% - 20px);
	height: 125px;
	display: grid;
	grid-template-columns: 1fr;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
}

.color-overlay {
	width: 100%;
	height: 125px;
	grid-row-start: 1;
	grid-column-start: 1;
	cursor: pointer;
}

#color-hue {
	background: red;
}

#color-saturation {
	background: linear-gradient(90deg, #fff, transparent);
}

#color-black {
	background: linear-gradient(0deg, #000, transparent);
}

#color-picker {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	border: 2.5px solid rgba(255, 255, 255, 1);
	background-color: white;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	position: absolute;
	cursor: pointer;
	transform: translateX(100% - 20px);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

input:focus {
	background-color: rgba(255, 255, 255, 0.1);
	outline: none;
}

input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	width: 28px;
	height: 55px;
	margin-right: 11px;
	opacity: 1;
	cursor: pointer;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border: 3px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-image: url("arrows.svg");
	background-position: center;
	background-size: cover;
}

input[type="number"]::-webkit-inner-spin-button:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

input[type="range"]::-webkit-slider-thumb {
	height: 40px;
	width: 15px;
	border-radius: 5px;
	border: 2.5px solid rgba(255, 255, 255, 1);
	box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 40px;
	cursor: pointer;
	background: linear-gradient(
		90deg,
		rgb(255, 0, 0) 0%,
		rgb(255, 4, 0) 0.277778%,
		rgb(255, 9, 0) 0.555556%,
		rgb(255, 13, 0) 0.833333%,
		rgb(255, 17, 0) 1.11111%,
		rgb(255, 21, 0) 1.38889%,
		rgb(255, 26, 0) 1.66667%,
		rgb(255, 30, 0) 1.94444%,
		rgb(255, 34, 0) 2.22222%,
		rgb(255, 38, 0) 2.5%,
		rgb(255, 43, 0) 2.77778%,
		rgb(255, 47, 0) 3.05556%,
		rgb(255, 51, 0) 3.33333%,
		rgb(255, 55, 0) 3.61111%,
		rgb(255, 60, 0) 3.88889%,
		rgb(255, 64, 0) 4.16667%,
		rgb(255, 68, 0) 4.44444%,
		rgb(255, 72, 0) 4.72222%,
		rgb(255, 77, 0) 5%,
		rgb(255, 81, 0) 5.27778%,
		rgb(255, 85, 0) 5.55556%,
		rgb(255, 89, 0) 5.83333%,
		rgb(255, 94, 0) 6.11111%,
		rgb(255, 98, 0) 6.38889%,
		rgb(255, 102, 0) 6.66667%,
		rgb(255, 106, 0) 6.94444%,
		rgb(255, 111, 0) 7.22222%,
		rgb(255, 115, 0) 7.5%,
		rgb(255, 119, 0) 7.77778%,
		rgb(255, 123, 0) 8.05556%,
		rgb(255, 128, 0) 8.33333%,
		rgb(255, 132, 0) 8.61111%,
		rgb(255, 136, 0) 8.88889%,
		rgb(255, 140, 0) 9.16667%,
		rgb(255, 145, 0) 9.44444%,
		rgb(255, 149, 0) 9.72222%,
		rgb(255, 153, 0) 10%,
		rgb(255, 157, 0) 10.2778%,
		rgb(255, 162, 0) 10.5556%,
		rgb(255, 166, 0) 10.8333%,
		rgb(255, 170, 0) 11.1111%,
		rgb(255, 174, 0) 11.3889%,
		rgb(255, 179, 0) 11.6667%,
		rgb(255, 183, 0) 11.9444%,
		rgb(255, 187, 0) 12.2222%,
		rgb(255, 191, 0) 12.5%,
		rgb(255, 196, 0) 12.7778%,
		rgb(255, 200, 0) 13.0556%,
		rgb(255, 204, 0) 13.3333%,
		rgb(255, 208, 0) 13.6111%,
		rgb(255, 213, 0) 13.8889%,
		rgb(255, 217, 0) 14.1667%,
		rgb(255, 221, 0) 14.4444%,
		rgb(255, 225, 0) 14.7222%,
		rgb(255, 230, 0) 15%,
		rgb(255, 234, 0) 15.2778%,
		rgb(255, 238, 0) 15.5556%,
		rgb(255, 242, 0) 15.8333%,
		rgb(255, 247, 0) 16.1111%,
		rgb(255, 251, 0) 16.3889%,
		rgb(255, 255, 0) 16.6667%,
		rgb(251, 255, 0) 16.9444%,
		rgb(247, 255, 0) 17.2222%,
		rgb(242, 255, 0) 17.5%,
		rgb(238, 255, 0) 17.7778%,
		rgb(234, 255, 0) 18.0556%,
		rgb(229, 255, 0) 18.3333%,
		rgb(225, 255, 0) 18.6111%,
		rgb(221, 255, 0) 18.8889%,
		rgb(217, 255, 0) 19.1667%,
		rgb(212, 255, 0) 19.4444%,
		rgb(208, 255, 0) 19.7222%,
		rgb(204, 255, 0) 20%,
		rgb(200, 255, 0) 20.2778%,
		rgb(195, 255, 0) 20.5556%,
		rgb(191, 255, 0) 20.8333%,
		rgb(187, 255, 0) 21.1111%,
		rgb(183, 255, 0) 21.3889%,
		rgb(179, 255, 0) 21.6667%,
		rgb(174, 255, 0) 21.9444%,
		rgb(170, 255, 0) 22.2222%,
		rgb(166, 255, 0) 22.5%,
		rgb(162, 255, 0) 22.7778%,
		rgb(157, 255, 0) 23.0556%,
		rgb(153, 255, 0) 23.3333%,
		rgb(149, 255, 0) 23.6111%,
		rgb(144, 255, 0) 23.8889%,
		rgb(140, 255, 0) 24.1667%,
		rgb(136, 255, 0) 24.4444%,
		rgb(132, 255, 0) 24.7222%,
		rgb(128, 255, 0) 25%,
		rgb(123, 255, 0) 25.2778%,
		rgb(119, 255, 0) 25.5556%,
		rgb(115, 255, 0) 25.8333%,
		rgb(111, 255, 0) 26.1111%,
		rgb(106, 255, 0) 26.3889%,
		rgb(102, 255, 0) 26.6667%,
		rgb(98, 255, 0) 26.9444%,
		rgb(94, 255, 0) 27.2222%,
		rgb(89, 255, 0) 27.5%,
		rgb(85, 255, 0) 27.7778%,
		rgb(81, 255, 0) 28.0556%,
		rgb(76, 255, 0) 28.3333%,
		rgb(72, 255, 0) 28.6111%,
		rgb(68, 255, 0) 28.8889%,
		rgb(64, 255, 0) 29.1667%,
		rgb(60, 255, 0) 29.4444%,
		rgb(55, 255, 0) 29.7222%,
		rgb(51, 255, 0) 30%,
		rgb(47, 255, 0) 30.2778%,
		rgb(43, 255, 0) 30.5556%,
		rgb(38, 255, 0) 30.8333%,
		rgb(34, 255, 0) 31.1111%,
		rgb(30, 255, 0) 31.3889%,
		rgb(26, 255, 0) 31.6667%,
		rgb(21, 255, 0) 31.9444%,
		rgb(17, 255, 0) 32.2222%,
		rgb(13, 255, 0) 32.5%,
		rgb(8, 255, 0) 32.7778%,
		rgb(4, 255, 0) 33.0556%,
		rgb(0, 255, 0) 33.3333%,
		rgb(0, 255, 4) 33.6111%,
		rgb(0, 255, 8) 33.8889%,
		rgb(0, 255, 13) 34.1667%,
		rgb(0, 255, 17) 34.4444%,
		rgb(0, 255, 21) 34.7222%,
		rgb(0, 255, 26) 35%,
		rgb(0, 255, 30) 35.2778%,
		rgb(0, 255, 34) 35.5556%,
		rgb(0, 255, 38) 35.8333%,
		rgb(0, 255, 42) 36.1111%,
		rgb(0, 255, 47) 36.3889%,
		rgb(0, 255, 51) 36.6667%,
		rgb(0, 255, 55) 36.9444%,
		rgb(0, 255, 60) 37.2222%,
		rgb(0, 255, 64) 37.5%,
		rgb(0, 255, 68) 37.7778%,
		rgb(0, 255, 72) 38.0556%,
		rgb(0, 255, 76) 38.3333%,
		rgb(0, 255, 81) 38.6111%,
		rgb(0, 255, 85) 38.8889%,
		rgb(0, 255, 89) 39.1667%,
		rgb(0, 255, 94) 39.4444%,
		rgb(0, 255, 98) 39.7222%,
		rgb(0, 255, 102) 40%,
		rgb(0, 255, 106) 40.2778%,
		rgb(0, 255, 110) 40.5556%,
		rgb(0, 255, 115) 40.8333%,
		rgb(0, 255, 119) 41.1111%,
		rgb(0, 255, 123) 41.3889%,
		rgb(0, 255, 128) 41.6667%,
		rgb(0, 255, 132) 41.9444%,
		rgb(0, 255, 136) 42.2222%,
		rgb(0, 255, 140) 42.5%,
		rgb(0, 255, 145) 42.7778%,
		rgb(0, 255, 149) 43.0556%,
		rgb(0, 255, 153) 43.3333%,
		rgb(0, 255, 157) 43.6111%,
		rgb(0, 255, 162) 43.8889%,
		rgb(0, 255, 166) 44.1667%,
		rgb(0, 255, 170) 44.4444%,
		rgb(0, 255, 174) 44.7222%,
		rgb(0, 255, 179) 45%,
		rgb(0, 255, 183) 45.2778%,
		rgb(0, 255, 187) 45.5556%,
		rgb(0, 255, 191) 45.8333%,
		rgb(0, 255, 195) 46.1111%,
		rgb(0, 255, 200) 46.3889%,
		rgb(0, 255, 204) 46.6667%,
		rgb(0, 255, 208) 46.9444%,
		rgb(0, 255, 213) 47.2222%,
		rgb(0, 255, 217) 47.5%,
		rgb(0, 255, 221) 47.7778%,
		rgb(0, 255, 225) 48.0556%,
		rgb(0, 255, 229) 48.3333%,
		rgb(0, 255, 234) 48.6111%,
		rgb(0, 255, 238) 48.8889%,
		rgb(0, 255, 242) 49.1667%,
		rgb(0, 255, 247) 49.4444%,
		rgb(0, 255, 251) 49.7222%,
		rgb(0, 255, 255) 50%,
		rgb(0, 251, 255) 50.2778%,
		rgb(0, 247, 255) 50.5556%,
		rgb(0, 242, 255) 50.8333%,
		rgb(0, 238, 255) 51.1111%,
		rgb(0, 234, 255) 51.3889%,
		rgb(0, 229, 255) 51.6667%,
		rgb(0, 225, 255) 51.9444%,
		rgb(0, 221, 255) 52.2222%,
		rgb(0, 217, 255) 52.5%,
		rgb(0, 213, 255) 52.7778%,
		rgb(0, 208, 255) 53.0556%,
		rgb(0, 204, 255) 53.3333%,
		rgb(0, 200, 255) 53.6111%,
		rgb(0, 195, 255) 53.8889%,
		rgb(0, 191, 255) 54.1667%,
		rgb(0, 187, 255) 54.4444%,
		rgb(0, 183, 255) 54.7222%,
		rgb(0, 179, 255) 55%,
		rgb(0, 174, 255) 55.2778%,
		rgb(0, 170, 255) 55.5556%,
		rgb(0, 166, 255) 55.8333%,
		rgb(0, 162, 255) 56.1111%,
		rgb(0, 157, 255) 56.3889%,
		rgb(0, 153, 255) 56.6667%,
		rgb(0, 149, 255) 56.9444%,
		rgb(0, 145, 255) 57.2222%,
		rgb(0, 140, 255) 57.5%,
		rgb(0, 136, 255) 57.7778%,
		rgb(0, 132, 255) 58.0556%,
		rgb(0, 128, 255) 58.3333%,
		rgb(0, 123, 255) 58.6111%,
		rgb(0, 119, 255) 58.8889%,
		rgb(0, 115, 255) 59.1667%,
		rgb(0, 110, 255) 59.4444%,
		rgb(0, 106, 255) 59.7222%,
		rgb(0, 102, 255) 60%,
		rgb(0, 98, 255) 60.2778%,
		rgb(0, 94, 255) 60.5556%,
		rgb(0, 89, 255) 60.8333%,
		rgb(0, 85, 255) 61.1111%,
		rgb(0, 81, 255) 61.3889%,
		rgb(0, 76, 255) 61.6667%,
		rgb(0, 72, 255) 61.9444%,
		rgb(0, 68, 255) 62.2222%,
		rgb(0, 64, 255) 62.5%,
		rgb(0, 60, 255) 62.7778%,
		rgb(0, 55, 255) 63.0556%,
		rgb(0, 51, 255) 63.3333%,
		rgb(0, 47, 255) 63.6111%,
		rgb(0, 42, 255) 63.8889%,
		rgb(0, 38, 255) 64.1667%,
		rgb(0, 34, 255) 64.4444%,
		rgb(0, 30, 255) 64.7222%,
		rgb(0, 26, 255) 65%,
		rgb(0, 21, 255) 65.2778%,
		rgb(0, 17, 255) 65.5556%,
		rgb(0, 13, 255) 65.8333%,
		rgb(0, 8, 255) 66.1111%,
		rgb(0, 4, 255) 66.3889%,
		rgb(0, 0, 255) 66.6667%,
		rgb(4, 0, 255) 66.9444%,
		rgb(8, 0, 255) 67.2222%,
		rgb(13, 0, 255) 67.5%,
		rgb(17, 0, 255) 67.7778%,
		rgb(21, 0, 255) 68.0556%,
		rgb(25, 0, 255) 68.3333%,
		rgb(30, 0, 255) 68.6111%,
		rgb(34, 0, 255) 68.8889%,
		rgb(38, 0, 255) 69.1667%,
		rgb(43, 0, 255) 69.4444%,
		rgb(47, 0, 255) 69.7222%,
		rgb(51, 0, 255) 70%,
		rgb(55, 0, 255) 70.2778%,
		rgb(60, 0, 255) 70.5556%,
		rgb(64, 0, 255) 70.8333%,
		rgb(68, 0, 255) 71.1111%,
		rgb(72, 0, 255) 71.3889%,
		rgb(76, 0, 255) 71.6667%,
		rgb(81, 0, 255) 71.9444%,
		rgb(85, 0, 255) 72.2222%,
		rgb(89, 0, 255) 72.5%,
		rgb(93, 0, 255) 72.7778%,
		rgb(98, 0, 255) 73.0556%,
		rgb(102, 0, 255) 73.3333%,
		rgb(106, 0, 255) 73.6111%,
		rgb(111, 0, 255) 73.8889%,
		rgb(115, 0, 255) 74.1667%,
		rgb(119, 0, 255) 74.4444%,
		rgb(123, 0, 255) 74.7222%,
		rgb(128, 0, 255) 75%,
		rgb(132, 0, 255) 75.2778%,
		rgb(136, 0, 255) 75.5556%,
		rgb(140, 0, 255) 75.8333%,
		rgb(144, 0, 255) 76.1111%,
		rgb(149, 0, 255) 76.3889%,
		rgb(153, 0, 255) 76.6667%,
		rgb(157, 0, 255) 76.9444%,
		rgb(162, 0, 255) 77.2222%,
		rgb(166, 0, 255) 77.5%,
		rgb(170, 0, 255) 77.7778%,
		rgb(174, 0, 255) 78.0556%,
		rgb(179, 0, 255) 78.3333%,
		rgb(183, 0, 255) 78.6111%,
		rgb(187, 0, 255) 78.8889%,
		rgb(191, 0, 255) 79.1667%,
		rgb(195, 0, 255) 79.4444%,
		rgb(200, 0, 255) 79.7222%,
		rgb(204, 0, 255) 80%,
		rgb(208, 0, 255) 80.2778%,
		rgb(212, 0, 255) 80.5556%,
		rgb(217, 0, 255) 80.8333%,
		rgb(221, 0, 255) 81.1111%,
		rgb(225, 0, 255) 81.3889%,
		rgb(230, 0, 255) 81.6667%,
		rgb(234, 0, 255) 81.9444%,
		rgb(238, 0, 255) 82.2222%,
		rgb(242, 0, 255) 82.5%,
		rgb(247, 0, 255) 82.7778%,
		rgb(251, 0, 255) 83.0556%,
		rgb(255, 0, 255) 83.3333%,
		rgb(255, 0, 251) 83.6111%,
		rgb(255, 0, 247) 83.8889%,
		rgb(255, 0, 242) 84.1667%,
		rgb(255, 0, 238) 84.4444%,
		rgb(255, 0, 234) 84.7222%,
		rgb(255, 0, 230) 85%,
		rgb(255, 0, 225) 85.2778%,
		rgb(255, 0, 221) 85.5556%,
		rgb(255, 0, 217) 85.8333%,
		rgb(255, 0, 212) 86.1111%,
		rgb(255, 0, 208) 86.3889%,
		rgb(255, 0, 204) 86.6667%,
		rgb(255, 0, 200) 86.9444%,
		rgb(255, 0, 195) 87.2222%,
		rgb(255, 0, 191) 87.5%,
		rgb(255, 0, 187) 87.7778%,
		rgb(255, 0, 183) 88.0556%,
		rgb(255, 0, 179) 88.3333%,
		rgb(255, 0, 174) 88.6111%,
		rgb(255, 0, 170) 88.8889%,
		rgb(255, 0, 166) 89.1667%,
		rgb(255, 0, 162) 89.4444%,
		rgb(255, 0, 157) 89.7222%,
		rgb(255, 0, 153) 90%,
		rgb(255, 0, 149) 90.2778%,
		rgb(255, 0, 144) 90.5556%,
		rgb(255, 0, 140) 90.8333%,
		rgb(255, 0, 136) 91.1111%,
		rgb(255, 0, 132) 91.3889%,
		rgb(255, 0, 128) 91.6667%,
		rgb(255, 0, 123) 91.9444%,
		rgb(255, 0, 119) 92.2222%,
		rgb(255, 0, 115) 92.5%,
		rgb(255, 0, 111) 92.7778%,
		rgb(255, 0, 106) 93.0556%,
		rgb(255, 0, 102) 93.3333%,
		rgb(255, 0, 98) 93.6111%,
		rgb(255, 0, 93) 93.8889%,
		rgb(255, 0, 89) 94.1667%,
		rgb(255, 0, 85) 94.4444%,
		rgb(255, 0, 81) 94.7222%,
		rgb(255, 0, 76) 95%,
		rgb(255, 0, 72) 95.2778%,
		rgb(255, 0, 68) 95.5556%,
		rgb(255, 0, 64) 95.8333%,
		rgb(255, 0, 60) 96.1111%,
		rgb(255, 0, 55) 96.3889%,
		rgb(255, 0, 51) 96.6667%,
		rgb(255, 0, 47) 96.9444%,
		rgb(255, 0, 43) 97.2222%,
		rgb(255, 0, 38) 97.5%,
		rgb(255, 0, 34) 97.7778%,
		rgb(255, 0, 30) 98.0556%,
		rgb(255, 0, 25) 98.3333%,
		rgb(255, 0, 21) 98.6111%,
		rgb(255, 0, 17) 98.8889%,
		rgb(255, 0, 13) 99.1667%,
		rgb(255, 0, 8) 99.4444%,
		rgb(255, 0, 4) 99.7222%
	); /* Yes I know this is long. But its 100% accurate */
}

#color-palette {
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	display: flex;
}

.color-palette-color {
	height: 77px;
	width: calc(100% / 5);
}

#dropper-box {
	width: calc(100% - 50px);
	height: 81px;
	text-align: center;
	border: 3px solid rgba(255, 255, 255, 0.3);
	border-radius: 14px;
	background-color: black;
	color: rgba(117, 117, 117, 1);
	font: inherit;
	font-size: 30px;
	text-decoration: none;
	font-weight: 500;
	cursor: pointer;
	align-items: unset;
}

#image-box {
	color: rgba(117, 117, 117, 1);
	font-size: 30px;
	text-decoration: none;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 110px;
	border-style: dashed;
	cursor: default;
	-webkit-appearance: none;
}

#dropper-box:hover {
	background-color: rgba(255, 255, 255, 0.2);
	color: rgba(255, 255, 255, 0.6);
}
